<ul class="d-flex " style="padding-left:0;">
  <li *ngIf="urlLinkedIn" class="nav-link">
    <a href="{{urlLinkedIn}}" class="social-icon-pref-color">
      <fa-icon [icon]="['fab', 'linkedin']" size="lg" ></fa-icon>
    </a>
  </li>
  <li *ngIf="urlGithub" class="nav-link">
    <a href="{{urlGithub}}" class="social-icon-pref-color">
      <fa-icon [icon]="['fab', 'github']" size="lg" ></fa-icon>
    </a>
  </li>
  <li *ngIf="urlInstagram" class="nav-link">
    <a href="{{urlInstagram}}" class="social-icon-pref-color">
      <fa-icon [icon]="['fab', 'instagram']" size="lg" ></fa-icon>
    </a>
  </li>
  <li *ngIf="urlTwitter" class="nav-link">
    <a href="{{urlTwitter}}" class="social-icon-pref-color">
      <fa-icon [icon]="['fab', 'twitter']" size="lg" ></fa-icon>
    </a>
  </li>
  <li *ngIf="urlTwitch" class="nav-link">
    <a href="{{urlTwitch}}" class="social-icon-pref-color">
      <fa-icon [icon]="['fab', 'twitch']" size="lg" ></fa-icon>
    </a>
  </li>
  <li *ngIf="urlEtsy" class="nav-link">
    <a href="{{urlEtsy}}" class="social-icon-pref-color">
      <fa-icon [icon]="['fab', 'etsy']" size="lg" ></fa-icon>
    </a>
  </li>
</ul>
