<nav class="navbar fixed-top navbar-expand-lg bg-pref shadow">
  <div class="container container-fluid">
    <a class="navbar-brand" href="#">
      <picture>
        <source srcset="{{logoUrlDark}}" media="(prefers-color-scheme: dark)">
        <img src="{{logoUrlLight}}" width="125" height="50" alt="Jippu Logo">
      </picture>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
    data-bs-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" >
        <li class="nav-item">
          <a class="nav-link" routerLinkActive='active' routerLink='/home'>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive='active' routerLink='/gallery'>Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="https://etsy.com">Store</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="parallax_container wave-bg">
  <br/><br />
      <div class="pt-5 d-flex justify-content-center">
        <img src="{{logoUrlDark}}" appParallax [factor]="12" class="img-fluid logo" />
      </div>
</div>

<div class="container container-main">
  <!-- page content -->
  <router-outlet></router-outlet>
</div>

<!-- footer -->
<footer class="page-footer bg-pref">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <app-social-list></app-social-list>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        &copy; {{year}} {{createdBy}}
      </div>
    </div>
  </div>

</footer>
