<div class="container" style="padding-top:2em;">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <h1>
        WELCOME
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <p style="font-size:large;">
        Here is some sample text about the artist. Here is some sample text about the artist.
        Here is some sample text about the artist. Here is some sample text about the artist.
        Here is some sample text about the artist. Here is some sample text about the artist.
        Here is some sample text about the artist. Here is some sample text about the artist.
        Here is some sample text about the artist. Here is some sample text about the artist.
      </p>
    </div>
  </div>
  <div class="row m-3">
    <div class="d-flex">
      <hr class="hr-divider" />
      <span class="sectionTitle text-center">FEATURED WORKS</span>
      <hr class="hr-divider" />
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <app-gallery-list *ngIf="homeViewModel" [galleryItems]="homeViewModel.featuredGallery"></app-gallery-list>
    </div>
  </div>
  <div class="row mt-3 mb-5">
    <div class="col-12 d-flex justify-content-center">
      <a class="customButton"><span>View More</span></a>
    </div>
  </div>
  <div class="row m-3">
    <div class="d-flex">
      <hr class="hr-divider" />
      <span class="sectionTitle text-center">RECENT WORKS</span>
      <hr class="hr-divider" />
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <app-gallery-list  *ngIf="homeViewModel" [galleryItems]="homeViewModel.recentGallery"></app-gallery-list>

    </div>
  </div>
  <div class="row mt-3 mb-5">
    <div class="col-12 d-flex justify-content-center">
      <a class="customButton"><span>View More</span></a>
    </div>
  </div>
</div>
