<!-- Limit to 3 per row to prevent clutter-->
<div class="container">
  <div class="row">
    <div class="col-4  col-sm-6 ">
      <app-gallery-item></app-gallery-item>
    </div>
    <div class="col-4  col-sm-6 ">
      <app-gallery-item></app-gallery-item>
    </div>
    <div class="col-4  col-sm-6 ">
      <app-gallery-item></app-gallery-item>
    </div>
    <div class="col-4  col-sm-6 ">
      <app-gallery-item></app-gallery-item>
    </div>
    <div class="col-4  col-sm-6 ">
      <app-gallery-item></app-gallery-item>
    </div>
    <div class="col-4  col-sm-6 ">
      <app-gallery-item></app-gallery-item>
    </div>
  </div>
</div>

