<div class="container" style="padding-top:2em;">
  <div class="row m-3">
    <div class="d-flex">
      <hr class="hr-divider" />
      <span class="sectionTitle text-center">GALLERY</span>
      <hr class="hr-divider" />
    </div>
  </div>
</div>
<app-gallery-list [galleryItems]="galleryItems"></app-gallery-list>
<div class="row">
  <mat-paginator [length]="100"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25]"
                 aria-label="Select page" hidden>
  </mat-paginator>
</div>
