/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

html, body {
  height: 100%;
}

h1 {
  font-family: 'Staatliches', cursive !important;
  font-weight: bold !important;
}

h1.sectionTitle{
    background-color:white;
}

.hr-divider{
    display:inline-block;
    width:33%;
    margin:auto;
}

.sectionTitle {
  font-family: 'Staatliches', cursive !important;
  font-weight: bold !important;
  font-size:x-large;
}

body {
  margin: 0;
  font-family: "Monteserrat", Roboto, "Helvetica Neue", sans-serif;
  background-color: #777;

}

.parallax_container {
  padding-top: 10vh;
  height: 50vh;
  width: 100%;
  background-attachment: fixed;
  background-color: #e5e5f7;
  opacity: 1;
  background-image: repeating-radial-gradient( circle at 0 0, transparent 0, #777 10px ), repeating-linear-gradient( #0058ad, #0058ad );
  background-repeat: repeat;
  overflow: hidden;
}

.parallax_overlay {
  height: 60vh;
  width: 60vw;
  margin: auto;
}


#banner-background {

}


.container-main{
    background-color: #fff;
    padding-bottom: 2em;
}

.logo  {

}

.nav-link {
  font-family: 'Staatliches', cursive;
      font-size: large;
}

.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*
display: block;
width: 200px;
height: 40px;
line-height: 40px;
font-size: 18px;
font-family: sans-serif;
text-decoration: none;
color: #333;
border: 2px solid #333;
letter-spacing: 2px;
text-align: center;
position: relative;
transition: all .35s;
    */
a.customButton {
  display: inline-block;
  padding: 0.50em 1.5em;
  border: 0.1em solid #1b133c;
  margin: 0 .3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Monteserrat",sans-serif;
  font-weight: bold;
  color: #FFF;
  background-color: #1b133c;
  text-align: center;
  transition: all 0.2s ;
  position:relative;
}

a.customButton span {
  position: relative;
  z-index: 2;
}

  a.customButton:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #1b133c;
    background: #fff;
    transition: all .35s;
  }

  a.customButton:hover {
    color: #1b133c;
  }

  a.customButton:hover:after {
    width: 100%;
  }
  /*
  a.customButton:before {
    background-color: #1b133c;
    transition: all 1s ease;
  }

  a.customButton:hover {
    color: #1b133c;
    background-color: transparent;
  }*/

@media all and (max-width:30em) {
   a.customButton {
    display: block;
    margin: 0.4em auto;
  }
}

/*
    .parallax-container {
  position: relative;
  overflow: hidden;
  height: 500px;
}
.nav-wrapper {
  position: relative;
  height: 100%;
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}




.parallax-container-day {
  position: relative;
  overflow: hidden;
  height: 500px;
  display: block;
  /*background: rgba(51,153,255,.7);
}*/
