<div class="m-2">
  <a (click)="onClick()">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 d-flex justify-content-center">
        <img src="{{imageUrlThumbnail}}" class="gallery-img-fluid" alt="{{itemTitle}}">
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12 col-sm-12 d-flex justify-content-center">
        <span style="font-weight:bold;">{{itemTitle}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 d-flex justify-content-center">
        <i>{{itemArtist}}</i>
      </div>
    </div>
  </div>
</a>
</div>

